@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 90vh;
    margin: -20px 0 50px;
}

h1 {
    font-weight: bold;
    margin: 0;
}



span {
    font-size: 12px;
    display: block;
    margin: 10px 0;
}



.countdown {
    border-radius: 10px;
    border: none;
    background-color: white;
    color:#00c6fb;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 20px;
    transition: transform 80ms ease-in, background-color 0.3s ease, border-color 0.3s ease;
}




form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}


.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.logout-container {
    left: 0;
    width: 100%;
    z-index: 2;
}

